@import url('https://fonts.googleapis.com/css?family=Bellefair|Buda:300|Cutive+Mono|Italiana|PT+Mono');

body {
  background: url(images/sitebackground.jpg)/*no-repeat, center, center, fixed*/;
  background-size: cover;
  opacity: 0.6;
  font-family: 'Buda', 'cursive';
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}
