

<div id="remedyContainer">

  <div id="stomachAilments">
    <h2>Stomach Ailments</h2>
    <a href="">Stomach Pain</a></br> <!--goldenseal (food poisoning, poss), triphala (purify), enzymes(before eating), ginger-->
    <a href="">Infrequent Movement/Constipation</a></br><!--triphala, natural fibers, taking certain supplements, lack of magnesium-->
    <a href="">Occasional Bloating</a></br>
    <a href="">Cramping</a></br><!--parasites, stress, food poisoning,-->
  </div>

  <div id="sleepingProbs">
    <h2>Sleeping Difficulties</h2>
    <a href="">Difficulty Falling Asleep</a></br> <!--melatonin, calif poppy, passionflower, niacin, 5-htp, lavender on feet-->
    <a href="">Difficulty Staying Asleep</a></br> <!--valerian, niacin, calif poppy, magnesium, avoid alcohol-->
    <a href="">Low Quality of Sleep</a></br> <!--niacin, magnesium, 5-htp,-->
  </div>

  <div id="skinProbs">
    <div id="skinText">
      <h2>Skin Problems</h2>
    <p id="skin">It's important to remember that stress can be the culprit in almost any
      suddenly appearing skin issue.  It can also wreak havoc on skin long-term, so remember
      to evaluate yourself for stress whenever you're looking for solutions for skin problems.</p>
    </div>
      <a href="#!/remedies?ailment=Acne">Acne</a></br> <!--harsh scrubbing - no! tea tree oil, clay masques, gentle cleansing, not enough water, too much sugar-->
      <a href="">Scars/Scabs/Etc</a></br> <!--calendula with plantain, st johns wort, yarrow, -->
      <a href="">Strange Eruptions</a></br> <!--myrrh for most weird stuff, also calendula-->
      <a href="">Dry Skin</a></br> <!--use an oil based soap/cleanser, lots of water, oil or thick lotion after shower, humidifier in winter, etc-->
  </div>

  <div id="generalPain">
    <h2>General Pain And Stiffness</h2>
      <a href="">Stiffness</a></br> <!--magnesium, turmeric, stretching, light exercise, arnica, yoga, ginger-->
      <a href="">Menstrual Pain</a></br> <!--vitex/chaste tree for regularity and gentleness, magnesium, look up others-->
      <a href="">Pain After Minor Injuries</a></br> <!--st johns wort oil, arnica, belladonna, look up others, baths, magnesium, turmeric, -->
      <a href="">Headache</a></br> <!--niacin, magnesium, caffeine, hydration, massage around neck, base of skull-->
      <a href="#!/remedies?ailment=Migraine">Migraine</a></br> <!--butterbur as a long term supplement-->
 </div>
