
  <div class="container">
    <div id="heading">
      <h1>{{title}}</h1>
      <h4>Remember, nothing on this page constitues medical advice! We are merely
      trying to help you make more informed decisions about your health and wellness.</h4>
    </div>



      <div class="remedyNames" ng-repeat ="remedy in remedies"></br>{{remedy.remedyname}}</br>
        <div id="remedyPic">
         <img ng-src="{{remedy.remedyimage}}"/>
       </div> <!--image must appear AFTER the ng-repeat to ensure correct number display and in right spot-->

        <button ng-click="upVote(remedy.id)">Click to Upvote This Remedy!</button>
        <div id="upvotes">
          {{remedy.userupvotes}}
        </div>
          <div id="remedyDescription"></br>
          {{remedy.remedydescription}}</br>
          </div>
      </div>


  </div>
